// The primary colors
$primary-soft: hsl(277, 64%, 61%);
$primary-dark-desaturated-blue: hsl(244, 38%, 16%);
$primary-very-dark-blue: hsl(233, 47%, 7%);

// The neutral colors
$neutral-white: hsl(0, 0%, 100%);
$neutral-transparent-main: hsla(0, 0%, 100%, 0.75);
$neutral-transparent-stat: hsla(0, 0%, 100%, 0.6);
